@import 'utilities.css';

:root{
    --primary:#DF007C;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
    --secondary:#070606;

}
body{
    font-family: 'Poppins', sans-serif;
    height: 5000px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotthing:antialiased;

}
header{
    background-color: var(--dark);
    
    clip-path: polygon(0 0,100% 0,100% 100%,70% 90%,0 100%);
}
.container{
    max-width: 1152px;
    
    padding: 0px 5px;
    margin: 0  auto;
}
header nav .left a{
    text-decoration: none;
    color: var(--light);
    
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

header nav .left a:hover{
    color: var(--primary);
}
header nav{
    
    padding: 1.5rem 0;
}
header .brand{
    
    margin-right: 3rem;

}
.btn{
    padding: .8rem 2rem;
    font-size: 1rem;
    font-weight: 550;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .3s ;
}
.btn-primary{
    background: var(--primary);
    color: var(--secondary);
}
.btn-primary:hover{
    background: transparent;
    color: var(--primary);
    border-color:var(--primary);
}
.hero{
    padding: 1rem 0;
}
.hero .left img{
    height: 500px;
}
.hero .right{
    color: var(--light);
    margin-top: -7rem;
    
}
.hero .right h6{
    font-size:1.5rem;
    color: var(--primary);
}
.hero .right h1{
    font-size: 3rem;
    font-weight: 100;
    
}
.hero .right h1 span{
    color: var(--primary);
}
.hero .right p{
    line-height: 1.9;
    margin: 10px 0px;
}
.hero .right .btn-secondary{
    background: transparent;
    color: var(--primary);
    border: 2px solid var(--primary);
}
.hero .right .btn-secondary:hover{
    background: var(--primary);
    color: var(--dark);
}

.flex1{
    flex: 1;
}
.justify-center{
    justify-content: center;
}

section.about{
    padding: 50px 0;
}
section.about .left img{
    width: 350px;
}
section.about .right h1{
    font-size: 1.3rem;
    font-weight: 100;
    margin-bottom: 1rem;

}
section.about .right h1 span{
    color: var(--primary);
}
section.about .right h3{
    font-size: 1.3rem;
    font-weight: 100;
    margin-bottom:1rem;
}
section.about .right p{
    line-height:1.7rem;
    color: var(--ternary);
    margin-bottom:2rem;
}
section.about .right .icons{
    display: flex;
}
section.about .right .icons a{
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: .6rem;
    border-radius: 50%;
    transition: all .3s ease;
}
section.about .right .icons a img{
    width: 100%;
    height: 100%;
    padding: .2rem;
}
section.about .right .icons a:hover{
    background-color: var(--primary);
}

section.services{
    background: var(--light);
}
section.services .text{
    text-align: center;
    margin-top: 1.5rem;
    
}
.service-text{
    text-align: center;
    color: var(--ternary);
    margin-bottom: 7rem;


}
.services h1 span{
    color: var(--primary);
}
.services .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 4.5rem;
}
.services .card-wrapper .card{
    background: var(--pure);
    padding: 3rem 2rem;
    position: relative;
    transition: all .3s ease;
    

}
.services .card-wrapper .card img{
    position: absolute;
    top: -3.5rem;
    left: 50%;
    transform: translateX(-50%);
}
.services .card-wrapper .card h2{
    text-align: center;
    font-weight: 400;
    margin: 1rem 0;
    font-size: .99rem;

}
.services .card-wrapper .card p{
    color: var(--ternary);
    text-align: center;
    font-size: 15px;
    line-height: 1.25rem;
}
.services .card-wrapper .card:hover{
    background: var(--dark);
}
.services .card-wrapper .card:hover h2,.services .card-wrapper .card:hover p{
    color: var(--pure);
}


section.freelance{
    margin: 3rem 0;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0, 0, 0,0.7)),url(../images/camera.png);
    height: 300px;
    color: var(--pure);
    padding-top: 2rem;
    clip-path: polygon(0 0,100% 0,100% 100%,65% 75%,0 100%);

}
.freelance .btn{
    margin-top: 1rem;
}

.card-wrapper2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
}

.work-text{
    margin: 2rem 0;
    text-align: center;
}
.work-text h1 span{
    color: var(--primary);
}
.work-text p{
    color: var(--ternary);
}
.card-wrapper2 .card{
    width: 250px;
    position: relative;
    transition: all .3s ease;
}
.card-wrapper2 .card img{
    width: 100%;
}
.card-wrapper2 .card .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3DCFD3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;

}
.card-wrapper2 .card:hover .overlay{
    opacity: 1;
}
.overlay span{
    color: beige;
}
.card-wrapper2 .card .overlay a{
    text-decoration: none;
    color: aliceblue;
}

.blog{
    margin-top: 4rem;
    background: var(--dark);
    height: 930px;
    clip-path: polygon(0 0,100% 0,100% 100%,70% 88%,0 100%);
}
.blogFirst{
    padding-top: 3rem;
    text-align: center;
    color: var(--light);
}
.blogFirst span{
    color: var(--primary);
}
.para{
    text-align: center;
    color: var(--ternary);
    margin-bottom: 5rem;
}
.blog-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
}
.blog-wrapper .blog-content{
    padding-top: 2rem;
    background: var(--light);
    padding-bottom: 2rem;
}
.blog-wrapper .blog-content h1{
    font-weight: 400;
    font-size: 15px;
}
.blog-wrapper .blog-content span{
    color: var(--ternary);
}
.blog-wrapper .blog-content p{
    margin: 1.3rem 0;
    color: var(--ternary);
}
.blog-wrapper .blog-content a{
    text-decoration: none;
    color: var(--dark);
}
.heading-contact{
    color: var(--dark);
}

section.contact .icon-wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;
}
section.contact .icon-wrapper .contact-icon{
    text-align: center;
}

section.contact .icon-wrapper .contact-icon img{
    margin-bottom: 1rem;
}
section.contact .icon-wrapper .contact-icon h2{
    font-weight: 400;

}
section.contact .icon-wrapper .contact-icon span{
    color: var(--ternary);
}
section.fotor{
    
    height: 300px;
    margin-top: 50px;
}
section.fotor .container{
    
    text-align: center;
    color: var(--primary);

}
section.payment{
    height: 800px;
    background-color: var(--dark);
    margin-top: 10rem;
    clip-path: polygon(0 0,100% 0,100% 100%,70% 88%,0 100%);
}
section.payment .text-payment{
    padding-top: 2rem;
    text-align: center;
    font-size: 1.3rem;
}
.text-payment h1{
    font-weight: 300;
    color: var(--light);
    margin-bottom: 4rem;
}
.text-payment h1 span{
    color: var(--primary);
}
section.payment .display-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
    color: var(--light);

}
section.payment .display-wrapper .text-wrapper{
    background: var(--secondary);
}
.plans-benefit{
    margin-top: 3rem;
    padding-left: 3rem;
    line-height: 2.5rem;
}
.plans-benefit button{
    margin:2rem 0;
    border: 1px solid rgb(170, 60, 60);
    color: var(--light);
    background: var(--secondary);
    font-size: 1.2rem;
    padding: 1rem;
    transition: all .3s ease;
    border-radius: 1.5rem;

}
.plans-benefit button:hover{
    background: #DF007C;
    cursor: pointer;
    border-radius: 2rem;
}
section.payment .text-wrapper h1{
    padding: 1.5rem 0;
    text-align: center;
}
section.payment .text-wrapper h3{
    text-align: center;
}
